VITE_FIREBASE_API_KEY=AIzaSyA8GVI8IAOveEcro4Cewm7wjmRqIreO4u8
VITE_FIREBASE_AUTH_DOMAIN=green-belt-platform.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=green-belt-platform
VITE_FIREBASE_STORAGE_BUCKET=green-belt-platform.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=598295785891
VITE_FIREBASE_APP_ID=1:598295785891:web:d04c2d05d414521f34ea16
VITE_FIREBASE_MEASUREMENT_ID=G-WXNZF8ECVF
